
[data-theme="Light"] {
  --background: green !important;
  --foreground: green !important;
  /* --color-bg: #ffffff;
  --color-fg: #000000; */
}

[data-theme="Dark"] {
  --background: red !important;
  --foreground: red !important;
  --font: 'Courier New', Courier, monospace !important; 
  /* --color-bg: #000000;
  --color-fg: #ffffff; */
}

*, div, span, .form-check, .input-group-text, .h6 {
  font-family: var(--font); 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom for menu labels to sync their widths  */
.menu_label_subject {
  width: 110px;
  height: 38px;
}

.menu_label_value, .span {
  width: 70px;
  height: 38px;
  background-color: var(--background);
  color: var(--foreground);
  border-color: var(--foreground);
  
  font-family: var(--font); 
}

.proc {
  resize: none;
  font-size: 18px;
  
}

.editor {
  display: block;
  background-color: var(--background); 
  font-size: 18px; 
  font-family: monospace;
}
/* .cm-line {
  font-size: 4px;
} */

.centerAligned {
  text-align: center;
}

.header {
  color: black;
  height: 60px;
  
}