.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Play & Stop Buttons Styling */
.btn-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

#play.btn-outline-primary {
    border-color: #28a745; 
    color: #28a745;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    transition: all 0.2s ease-in-out;
}

#play.btn-outline-primary:hover {
    background-color: #28a745;
    color: #fff;
    box-shadow: 0px 0px 40px #28a745;
}

#stop.btn-outline-primary {
    border-color: #dc3545; 
    color: #dc3545;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    transition: all 0.2s ease-in-out;
}

#stop.btn-outline-primary:hover {
    background-color: #dc3545;
    color: #fff;
    box-shadow: 0px 0px 40px #dc3545;
}

/*Volume Component Styling*/
.volume-container {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-top: 10px;
    margin-bottom: 25px;
}

#volume_range {
    flex-grow: 1;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient( to right, red, orange, yellow, lime, cyan, blue, magenta );
    transition: background 0.30s ease;
}

#volume_range:hover {
    transform: scale(1.03);
}