@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes setting-spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.open-setting-spin {
  animation: setting-spin 0.5s linear;
}

.close-setting-spin {
  animation: spin 0.5s linear;
}